.one_, .two_ {
    display: block;
    padding: 15px;
    width: 50%;
}

.two_ {
    display: flex;
    flex-direction: column;
    row-gap: 30px;
}

.history_ {
    height: fit-content;
    width: fit-content;
}

.history_, .opponents-list {
    display: block;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
    border-radius: 3px;
    padding: 5px;
    max-height: 400px;
    overflow: auto;
    background: blanchedalmond;
}

.two_ .opponent-list {
    /*display: flex;
    flex-direction: column;
    row-gap: 30px;
    max-height: auto;*/
    width: 100%;
}
/*
.app_ {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    border: solid 1px blue;
    background-color: blanchedalmond;
    padding: 5px 5px;
    width: fit-content;
}

.app_ .app_item {
    display: grid;
    grid-template-columns: 150px 100px;
    column-gap: 10px;
}

.app_ .app_item label{
    grid-row: 1;
    grid-column: 1;
}

.app_ .app_item input {
    grid-row: 1;
    grid-column: 2;
    text-align: center;
}
*/

.nav-bar {
    display: flex;
    flex-direction: row;
    column-gap: 10px;
    height: 20px;
    width: 100%;
    /*margin: 0 auto 30px;*/
    position: fixed;
}

ul {
    list-style-type: none;
}

/* свойства основных пунктов меню */
.menu {
    background: rgb(188, 199, 199);
    list-style-type: none;
    height: 15px;
}

li {
    background: rgb(188, 199, 199);
}

.menu li {
    display: block;
    position: relative;
    width: 100px;
    float: left;
    height: auto;
}

.nav-bar .menu .menuitem1 a,
.nav-bar .menu .menuitem1 ul li a,
.nav-bar .menu .menuitem1 ul li ul li a {
    display: block;
    /*padding: 0.3em;
    border-right: 1px solid rgb(117, 81, 151);
    border-top: 1px solid rgb(117, 81, 151);
    color: rgb(248, 235, 211);*/
    text-decoration: none;
    text-align: center;
    height: 100%;
    font-size: 12pt;
}

.nav-bar .menu .menuitem1 ul li,
.nav-bar .menu .menuitem1 ul li ul li {
    /* float: none; */
    width: 100%;
    /* clear: both; */
}

.nav-bar .menu .menuitem1 ul,
.nav-bar .menu .menuitem1 ul li ul {
    display: none;
    position: absolute;
    width: 100%;

}

.nav-bar .menu .menuitem1 ul {
    top: 100%;
    left: 0;
    padding: 0;
}

.nav-bar .menu .menuitem1 ul li ul {
    top: 0;
    left: 100%;
}

.nav-bar .menu .menuitem1:hover>ul,
.nav-bar .menu .menuitem1:focus-within>ul,
.nav-bar .menu .menuitem1 ul:hover,
.nav-bar .menu .menuitem1 ul li:hover>ul {
    display: block;
}


li:hover {
    background: rgb(188, 148, 226);
}