* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    background-color: transparent;
}

h1 {
    color:#0000FF;
}

h2 {
    color:#FF0000;
}

table {
    border: 1px solid black;
    border-collapse: collapse;
    width: 100%;
}

table th, table td {
    border: 1px solid black;
    padding: 5px;
}

.errorMessage {
    color:red;
    font-style:italic;
    font-size: 18pt;
}
